h1,
h2,
h3 {
  line-height: 0;
}

.fields {
  max-width: 500px;
  margin: 16px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 16px;
}

.card {
  display: inline-flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 8px 24px;
  border: 1px solid #2d2d2d;
}

.editor {
  display: flex;
}

.card.active {
  border-color: red;
}
